extends ../base
block title
  |Apksitory
block main
  main.main
    section.section.is-error
      div.error-wrap
        div.error
          span.error__name 404
          p.error__descr It seems that page you are looking for no longer exists.
          a.btn(href='#') Back Home
