.error
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  &__name
    font-size: 104px
    font-weight: 500

    +m($mobile)
      font-size: 80px

    +m(480)
      font-size: 60px

  &__descr
    margin-bottom: 20px
    font-size: 18px
    text-align: center

    +m($mobile)
      font-size: 16px