.header
  background-color: #ffffff
  border-bottom: 1px solid $color-border
  +m($mobile)
    display: none

  &__wrap
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    height: 60px

  &__right
    display: flex
    flex-direction: row
    align-items: center

.logo
  width: 147px