.nav-footer
  display: flex
  flex-wrap: wrap
  color: $text-grey
  +m($mobile)
    justify-content: center

  &__el
    padding-right: 27px
    position: relative
    +m($mobile)
      margin-bottom: 5px

      &:last-child
        margin-bottom: 0

    &:after
      position: absolute
      content: ''
      top: 4px
      right: 13px
      width: 1px
      height: 13px
      background-color: #90939f

    &:last-child
      &:after
        display: none

  &__link
    color: $text-grey
    font-size: 13px
    font-weight: 300