.popular
  display: flex
  font-size: 13px

  &__list
    margin-left: 4px
    display: flex
    flex-wrap: wrap

  &__el
    padding-right: 15px
    position: relative

    &:after
      position: absolute
      content: ''
      top: 4px
      right: 7px
      width: 1px
      height: 13px
      background-color: #616161

    &:last-child

      &:after
        display: none

  &__link
    color: $text

    &:hover
      color: $link