.product
  margin-bottom: 15px
  position: relative
  padding-top: 15px
  display: flex
  align-items: center
  border-top: 1px solid $color-border

  &:after
    position: absolute
    content: ''
    top: -1px
    right: -1px
    width: 62px
    height: 62px
    background-image: url('../media/images/protected-shield.png')

  &__left
    margin-right: 30px

  &__title
    font-size: 22px
    font-weight: 500

  &__rating
    margin: 10px 0
    display: block
