.section
  padding-bottom: 50px

  &__wrap
    display: flex
    flex-direction: row
    justify-content: space-between

    +m($tablet)
      display: flex
      flex-direction: column

  &__left
    width: calc(100% - 332px)

    +m($tablet)
      width: 100%
      margin-right: 0

  &__right
    margin-left: 32px
    min-width: 300px

    +m($tablet)
      margin-left: 0
      width: 100%

    +m($mobile)
      min-width: auto

  &__title
    margin-bottom: 15px
    font-size: 26px
    font-weight: 400
    +m($mobile)
      font-size: 23px

    &.with-border
      padding-bottom: 10px
      border-bottom: 1px solid $color-border

  &.is-main
    padding: 50px 0 50px
    +m($mobile)
      padding-top: 20px
    .categories
      margin: 5px 0 24px

  &.is-1-inner
    .section__left
      h2
        margin-bottom: 10px
        font-size: 20px
        font-weight: 500
        +m($mobile)
          font-size: 17px

  &.is-2-inner
    padding-bottom: 50px

    .section__title
      margin-bottom: 5px
      +m($tablet)
        margin-bottom: 10px

    .sorting
      position: relative
      top: -4px

  &.is-10-inner
    .search
      margin-bottom: 20px

      .input
        +m($mobile)
          height: 35px
          line-height: 35px

      .btn
        +m($mobile)
          font-size: 14px
          height: 35px
          line-height: 35px

        +m($mobile)
          width: 70px

      +m($mobile)
        margin-bottom: 12px

  &.is-terms
    h1
      font-size: 26px
      font-weight: 400