.sorting
  display: flex
  align-items: center
  font-size: 13px

  &__list
    margin-left: 10px
    display: flex
    border-left: 1px solid $color-border

  &__el
    padding: 0 16px
    height: 26px
    line-height: 26px
    border: 1px solid $color-border
    border-left: none
    a
      color: $text

    &.is-active
      background-color: $bg-green
      border: 1px solid $bg-green
      a
        color: #ffffff