doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Pioneering Private Digital Transactions")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet")

    title
      block title
  body
    //include ../parts/preloader
    include ../parts/mobile-menu
    include ../parts/header-mobile
    include ../parts/header
    block main
    include ../parts/pre-footer
    include ../parts/footer
