header.header-mobile
  div.container
    div.header-mobile__wrap
      div.header-mobile__left
        #hamburger.hamburger
          span.hamburger__el
          span.hamburger__el
          span.hamburger__el
      div.header-mobile__center
        a(href='#').logo
          img(src=require('./../../media/images/logo-mob.svg'))
      div.header-mobile__right
        div.search
          form.search__form
            div.search__field
              input.input(type='text', placeholder='Search')
            div.search__action
              button.btn(type='submit')
                span.icon.icon-search
