header.header-mobile
  div.container
    div.header-mobile__wrap
      div.header-mobile__left
        #hamburger.hamburger
          span.hamburger__el
          span.hamburger__el
          span.hamburger__el
      div.header-mobile__center
        a(href='#').logo
          img(src=require('./../../media/images/logo-mob.svg'))
      div.header-mobile__right
        div.search.is-small
          form.search__form(action='#')
            input.search__input(type='text' placeholder='Search')
            button.search__btn(type='submit')
              span.icon.icon-search

