div.mobile-menu
  div.mobile-menu__top
  div.mobile-menu__bottom
    ul.mobile-menu__list
      li.mobile-menu__el
        a.mobile-menu__link(href='#')
          span.icon.icon-housenhome
          | Home
      li.mobile-menu__el
        a.mobile-menu__link(href='#')
          span.icon.icon-apps
          | Apps
      li.mobile-menu__el
        a.mobile-menu__link(href='#')
          span.icon.icon-games
          | Games