div.pre-footer
  div.container
    div.pre-footer__wrap
      div.popular
        span Popular:
        ul.popular__list
          li.popular__el
            a(href='#').popular__link Garena Free Fire: Spooky Night
          li.popular__el
            a(href='#').popular__link Tales of Wind
          li.popular__el
            a(href='#').popular__link PUBG MOBILE
          li.popular__el
            a(href='#').popular__link PUBG MOBILE LITE
          li.popular__el
            a(href='#').popular__link Call of Duty®: Mobile
          li.popular__el
            a(href='#').popular__link Mobile Legends: Bang Bang APK
          li.popular__el
            a(href='#').popular__link Overlords of Oblivion