div.preloader#preloader
  div.preloader__container
    img.preloader__logo(src=require('../../media/images/logo-web.svg'))
    div.preloader__progress
      div.bar
      div.bar
      div.bar
    p.preloader__persentage#preloaderText
