div.preloader#preloader
  div.preloader__container
    img.preloader__logo(src=require('../../media/images/logo-web.svg'))
    span.preloader__progress
      span.preloader__fill#preloaderFill
    p.preloader__persentage#preloaderText